.header {
    border-bottom: 1px solid #ddd;
    margin-bottom: 40px;
}

.navigation-list {
    list-style: none;
    padding: 0;
}
.navigation-item {
    display: inline-block;
    margin-right: 20px;
}
.navigation-item:last-child {
    margin: 0;
}
