<header class="header">
    <h1>Angular 2 blog</h1>

    <nav>
        <ul class="navigation-list">
            <li class="navigation-item"><a [routerLink]="['/']">Home</a></li>
            <li class="navigation-item"><a [routerLink]="['/about']">About</a></li>
        </ul>
    </nav>
</header>

<router-outlet></router-outlet>
