.post-list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.post-list {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.post-item {
    display: flex;
    padding: 5px 10px;
}
.post-item:nth-child(even) {
    background: #f0f0f0;
}

.title,
.status {
    width: 40%;
}
.actions {
    text-align: right;
    width: 20%;
}

.action-link {
    margin-left: 10px;
}

.timestamp,
.published,
.not-published {
    font-size: 12px;
    margin-left: 20px;
    text-transform: uppercase;
}

.published {
    color: #388E3C;
}
.not-published {
    color: #d32f2f;
}
