<div class="post-list-header">
    <h2>Posts</h2>
    <a class="btn" [routerLink]="['/dashboard/new-post']">New post</a>
</div>

<ul class="post-list">
    <li class="post-item" *ngFor="let post of getPosts()">
        <div class="title">
            {{ post.title }}
        </div>
        <div class="status">
            <span *ngIf="post.published" class="published">Published</span>
            <span *ngIf="!post.published" class="not-published">Not Published</span>
            <span class="timestamp">Created on {{ post.created|date:'d MMM y' }}</span>
        </div>
        <div class="actions">
            <a class="action-link" [routerLink]="post.updateUrl">Edit</a>
            <a class="action-link" href (click)="deletePost(post)">Delete</a>
        </div>
    </li>
</ul>
