* {
    box-sizing: border-box;
}
body {
    color: #444;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 20px auto;
    max-width: 900px;
    padding: 0 20px;
}

a {
    color: #1E88E5;
}
a:hover {
    color: #0D47A1;
}

.btn {
    background: #ddd;
    border: 1px solid #ccc;
    color: #444;
    cursor: default;
    font-size: 14px;
    padding: 10px 20px;
    text-decoration: none;
}
.btn:hover {
    background: #ccc;
    color: #444;
}

h1 {
    margin: 0 0 20px;
}

h2 {
    margin: 0;
}

/* Forms */
.form-title {
    margin: 0 0 20px;
}

.row {
    display: flex;
    margin-bottom: 15px;
}
.label {
    width: 20%;
}
.form-control {
    padding-left: 20px;
    width: 80%;
}

textarea {
    height: 320px;
    resize: none;
}
textarea,
input[type="text"],
input[type="password"] {
    border: 1px solid #ddd;
    font-size: 14px;
    padding: 4px 10px;
    width: 100%;
}

.form-actions * {
    margin-right: 20px;
}

.errorlist {
    margin: 10px 0;
    padding: 0 0 0 20px;
}
.row-error {
    color: #ca0000;
}
