<div class="post">
    <h1 class="title">
        <a *ngIf="showLink" [routerLink]="post.slug">{{ post.title }}</a>
        <span *ngIf="!showLink">{{ post.title }}</span>
    </h1>
    <div class="readable_content" [innerHTML]="post.readable_content"></div>
</div>
