{% load static %}
<!DOCTYPE html>
<html lang="en">
    <base href="/">
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- 1. Load libraries -->
     <!-- Polyfill(s) for older browsers -->
    <script src="{% static 'node_modules/core-js/client/shim.min.js' %}"></script>
    <script src="{% static 'node_modules/zone.js/dist/zone.js' %}"></script>
    <script src="{% static 'node_modules/reflect-metadata/Reflect.js' %}"></script>
    <script src="{% static 'node_modules/systemjs/dist/system.src.js' %}"></script>
    <!-- 2. Configure SystemJS -->
    <script src="{% static 'js/dashboard-systemjs.config.js' %}"></script>
    <script>
        System.import('app').catch(function(err){ console.error(err); });
    </script>
    <!--<script src="js/bundle.min.js"></script>-->
</head>

<!-- 3. Display the application -->
<body>
    <dashboard></dashboard>
</body>
</html>
