{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>
    <div class="login-form">
        <form action="." method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="row {% if field.errors %}row-error{% endif %}">
                <label class="label" for="{{ field.id_for_label }}">
                    {{ field.label }} {% if field.field.required %}*{% endif %}
                </label>
                <div class="form-control">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}

            <div class="form-actions">
                <button class="btn" name="button">Login</button>
            </div>
        </form>
    </div>
</body>
</html>