<h2 class="form-title">
    <span *ngIf="post.id === -1">New post</span>
    <span *ngIf="post.id !== -1">Update post</span>
</h2>

<form [formGroup]="postForm" (ngSubmit)="onSubmit(postForm.value)">
    <div class="row" [class.row-error]="submitted && !postForm.find('title').valid">
        <label class="label" for="title">Title *</label>
        <div class="form-control">
            <input
                type="text"
                id="title"
                name="title"
                [formControl]="postForm.find('title')"
                [(ngModel)]="post.title">
            <div class="error">A title is required</div>
        </div>
    </div>
    <div class="row">
        <label class="label" for="slug">Slug</label>
        <div class="form-control">
            <input
                type="text"
                id="slug"
                name="slug"
                [formControl]="postForm.find('slug')"
                [(ngModel)]="post.slug">
        </div>
    </div>
    <div class="row" [class.row-error]="submitted && !postForm.find('content').valid">
        <label class="label" for="content">Content *</label>
        <div class="form-control">
            <textarea
                name="content"
                id="content"
                [formControl]="postForm.find('content')"
                [(ngModel)]="post.content"
            ></textarea>
            <div class="error">The content is required</div>
        </div>
    </div>

    <div class="row">
        <label class="label" for="published">Published</label>
        <div class="form-control">
            <input
                type="checkbox"
                id="published"
                name="published"
                [formControl]="postForm.find('published')"
                [(ngModel)]="post.published">
        </div>
    </div>

    <div class="row">
        <label class="label">Created</label>
        <div class="form-control">
            <input
                type="text"
                disabled="disabled"
                name="created"
                value="{{ post.created }}">
        </div>
    </div>
    <div class="row">
        <label class="label">Updated</label>
        <div class="form-control">
            <input
                type="text"
                disabled="disabled"
                name="updated"
                value="{{ post.updated }}">
        </div>
    </div>

    <div class="form-actions">
        <a [routerLink]="['/dashboard']">Cancel</a>
        <button class="btn" name="button">Submit</button>
    </div>
</form>
